---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: 'Signika', "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #CDFFFF;
$brand-color:      #2a7ae2;

$grey-background: #F3F3F3;
$orange: orange;
$dark-orange: #a06800;

$gps-burg: #1abc9c;          
$gps-orange: #e67e22;         
$gps-skyblue: #8e44ad; 
$gps-purple: #3498db;
$gps-green: #f1c40f;   
$gps-yellow: #c0392b;  

$green : rgb(60, 124, 92);  

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$button-background: #FFFFFF;
$button-border: $dark-orange;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


